*{
    margin: 0;
    padding: 0;
}
body{
    
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20240706/pngtree-stack-of-square-baked-brownie-chocolate-cake-slices-image_15862569.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1960px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
nav{
    
    color: rgb(248, 243, 243);
    padding: 10px;
    /* font-size: 20px; */
    font-size: 25px;
}
h1,ul,li{
    display: inline-block; 
}
ul{
    margin-left: 50%;
}
li{
    color:rgb(252, 249, 249);
    padding: 10px;
    /* background-color: aliceblue; */
    /* padding-right: 50px; */
    font-size: 18px;
}
li:hover{
    color: rgb(104, 91, 91);
    cursor: pointer;
    /* background-color: aliceblue; */
    padding: 10px;
}
input{
    width: 600px;
    padding: 15px;
}
.searchbox{
    padding: 10px;
    text-align: center;

    /* background-color: lavenderblush; */
}

/* .box{ */
    /* border-color: coral;
    border-width: 2px;
    border-style: solid; */
    /* width: 300px;
    height: 200px; */
    /* display: inline-block; */
    /* color: rgb(15, 15, 15); */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline;
    padding: 400px;
} */
/* .box:hover{
    background-color: black;
    color: aliceblue;
} */
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
    /* text-align: center; */
    
    /* flex-wrap: wrap; */
    /* justify-content:space-around; */
    /* padding: 20px;

.items div{ 
    /* width: 200px; */
    /* text-align: center; */
    /* color: white; */
    /* margin: 10px;
    border: 5px solid black; */
    /* display: flex;
    flex-wrap: wrap; */
.items div{
     text-align: center;
    border: 5px solid rgb(51, 49, 49); 
    margin: 5px;
    color: white;
    cursor: pointer;
    background-color: gray;
}
/* .p:hover{
    color: white;
    cursor: pointer;
} */
.image-resize{
     width: 150px;
     height: 150px;
}
.about{
    text-align: center;
    margin-top: 10px;
    padding: 50px;
    color: white;
}
.contact{
    background-color: rgb(73, 71, 71);
    color: white;
    text-align: center;
    padding: 30px;
}